body {
  font-family: Verdana;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #333;
  position: absolute;
}

.cell.alive {
  background-color: #333;
  border-color: #fff;
}

#game-container {
  display: block;
}
